/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --accent-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --bg-color: #000028;
  --bg-color-rgb: rgb(0, 0, 40);
  --text-with-shadow-color: #db00ff;
  --main-font: "IBM Plex mono";
  --bg-image: url(/images/cover-image-dark.png);
  --border-hover-color: rgba(255, 0, 112, 0.4);
  --underline-color: #f1b2ce;
  --menu-button-color: #ff0070;
  --header-paragraph-color: #000028;
  --decorated-zone-color: #ff0070;
  --content-titles: #ff0070;
  --main-titles: #000028;
  --content-title-subtitle-color: #000028;
  --display-camera-light: block;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --bg-color: #000028;
  --bg-color-rgb: rgb(0, 0, 40);
  --text-with-shadow-color: #db00ff;
  --main-font: "IBM Plex mono";
  --bg-image: url(/images/cover-image-dark.png);
  --border-hover-color: rgba(255, 0, 112, 0.4);
  --underline-color: #f1b2ce;
  --menu-button-color: #ff0070;
  --header-paragraph-color: #000028;
  --decorated-zone-color: #ff0070;
  --content-titles: #ff0070;
  --main-titles: #000028;
  --content-title-subtitle-color: #000028;
  --display-camera-light: block;
}

.header__theme-menu::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color);
  font-family: var(--main-font);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

.header__theme-menu::after {
  content: "";
  position: absolute;
  display: var(--display-camera-light);
  width: 17px;
  height: 15px;
  background-image: url(/images/Ellipse\ 4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__paragraph {
  color: var(--header-paragraph-color);
}

.main-titles {
  color: var(--main-titles);
}

.content__title {
  color: var(--content-titles);
}

.content__title-subtitle {
  color: var(--content-title-subtitle-color);
}
