/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --shadow-color: #ff0070;
  --paragraph-color: #000028;
  --bg-color: #000028;
  --bg-color-rgb: rgb(0, 0, 40);
  --text-with-shadow-color: #db00ff;
  --main-font: "IBM Plex mono";
  --bg-image: url(../images/cover-image-dark.png);
  --border-hover-color: rgba(255, 0, 112, 0.4);
  --underline-color: #f1b2ce;
  --menu-button-color: #ff0070;
  --header-paragraph-color: #000028;
  --decorated-zone-color: #ff0070;
  --content-titles: #000028;
  --main-titles: #ff0070;
  --rec-color: #ff0070;
  --content-title-subtitle-color: #000028;
  --display-camera-light: block;
  --text-color: #f1b2ce;
  --focus-underline-color: #ff0070;
}
