/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --text-with-shadow-color: #DB00FF;
  --main-font: 'IBM Plex mono';
  --bg-image: url(/images/cover-image-dark.png);
}
